.btn {
    max-height: 32px;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    &_primary {
        background-color: var(--color-primary);
        color: #fff;
        &:hover{
            background-color: #1472dc;
        }
    }
    &_back{
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        &:hover {
            background-color: #eaeaea;
        }
    }
}