.card {
    padding: 36px 32px;
    width: var(--card-width);
    background-color: #FAFAFB;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    &_header {
        position: relative;
    }
}