:root {
    --card-width: 400px;
    --letter-spacing: -0.035em;
    --bigger-font-size: 18px;
    --smaller-font-size: 10px;
    --color-primary: #2F80ED;
    --color-gray: #828282;
    --font-weight: 500;
}